<h1>Login</h1>

<form method="POST" action="/sessions">
  <input type="text" name="username" id="username">
  <input type="text" name="password" id="password">
  <input type="submit" name="Sumbit">
</form>