<h1>Here are all your saved meals...</h1>

<% current_user.meals.each do |meal|%>
<ul>
  <li><a href="/meal/<%=meal.id%>"><%= meal.name %></a></li>
</ul>
<% end %>

<p><a href="/meals/new">Create new meal..</a>
  </p>

