<h1>Let's add a new meal!</h1>


<form action="/meals" method="POST">
  <p><label>Meal Name:</label>
    <input type="text" name="name">
  <p><label>Meal Ingredients:</label>
    <input type="text" name="ingredients">
  <p><input type="submit" name="Submit">
  </p>
</form>