

 
<p> 
<ul>
  <%@meals.each do |meal| %> 
  <li><%=meal%>
      <p><%=meal.ingredients%></p></li>
  <%end%> 
</ul>
</p>

<form method="post" action="/meal/<%=@meal.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Meal">
</form>
