
<h1>Meal added to <%=@meal.restaurant.name%></h1>
 
<p> 
<h3>Meal Name:</h3>
  <%=@meal.name%>
</p>

<p> <h3>Meal Ingredients</h3><%=@meal.ingredients%></p>

<form method="post" action="/meal/<%=@meal.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Meal">
</form>
