<h1>Here are all your saved restaurants...</h1>

<% current_user.restaurants.each do |restaurant|%>
<ul>
  <li><a href="/restaurant/<%=restaurant.id%>"><%= restaurant.name %></a></li>
</ul>


<% end %>

<h3><a href="/logout">Logout</a></h3>