
<p> <%=@restaurant.name %> </p>
 
<p> 
<ul>
  <%@restaurant.meals.each do |meal| %> 
  <li><%=meal%></li>
  <%end%> 
</ul>
</p>

<form method="post" action="/restaurant/<%=@restaurant.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Resaurant">
</form>
