
<h3> <%=@restaurant.name %> </h3>
 
<p> 
<ul>
  <%@restaurant.meals.each do |meal| %> 
  <li><a href="/meal/<%=meal.id%>"><%= meal.name %></li>
  <%end%> 
</ul>
</p>

<p><a href="/meals/new">Create new meal..</a>
  </p>


<form method="post" action="/restaurant/<%=@restaurant.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Restaurant">
</form>
